sources/logicapps/rne-d2-export/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_D2_Export": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": ["6"],
            "minutes": [30]
          },
          "timeZone": "Romance Standard Time"
        }
      }
    },
    "actions": {
      "Initialize_RunId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RunId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "workflowType": "D2Export"
        }
      },
      "Initialize_TravelDate_D2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TravelDate",
              "type": "string",
              "value": "@{formatDateTime(addDays(utcNow(), 2), 'yyyy-MM-dd')}"
            }
          ]
        },
        "runAfter": {
          "Initialize_RunId": ["Succeeded"]
        }
      },
      "Initialize_FailedTrains": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FailedTrains",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Initialize_TravelDate_D2": ["Succeeded"]
        }
      },
      "Initialize_SuccessCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SuccessCount",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "Initialize_FailedTrains": ["Succeeded"]
        }
      },
      "Query_GraphQL_API_D2": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@appsetting('OPS_API_ENDPOINT')",
          "headers": {
            "Content-Type": "application/json",
            "X-Correlation-Id": "@{variables('RunId')}"
          },
          "body": {
            "query": "query GetTrainPlans($travelDate: Date!) { trainPlans(filter: { travelDate: $travelDate }) { id serviceCode pathway travelDate passagePoints { locationCode arrivalTime departureTime } origin destination status planType country } }",
            "variables": {
              "travelDate": "@{variables('TravelDate')}"
            }
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 4,
            "interval": "PT10S",
            "minimumInterval": "PT5S",
            "maximumInterval": "PT1M"
          }
        },
        "runAfter": {
          "Initialize_SuccessCount": ["Succeeded"]
        },
        "limit": {
          "timeout": "PT2M"
        },
        "trackedProperties": {
          "eventType": "GraphQLQuery"
        }
      },
      "Parse_GraphQL_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Query_GraphQL_API_D2')",
          "schema": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "trainPlans": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "serviceCode": { "type": "string" },
                        "pathway": { "type": "string" },
                        "travelDate": { "type": "string" },
                        "origin": { "type": "string" },
                        "destination": { "type": "string" },
                        "status": { "type": "string" },
                        "planType": { "type": "string" },
                        "country": { "type": "string" },
                        "passagePoints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "locationCode": { "type": "string" },
                              "arrivalTime": { "type": ["string", "null"] },
                              "departureTime": { "type": ["string", "null"] }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "Query_GraphQL_API_D2": ["Succeeded"]
        }
      },
      "Filter_Active_FR_GB_Plans": {
        "type": "Query",
        "inputs": {
          "from": "@body('Parse_GraphQL_Response')?['data']?['trainPlans']",
          "where": "@and(or(equals(item()?['country'], 'FR'), equals(item()?['country'], 'GB')), equals(item()?['status'], 'ACTIVE'), not(equals(item()?['planType'], 'EVOLUTION')))"
        },
        "runAfter": {
          "Parse_GraphQL_Response": ["Succeeded"]
        }
      },
      "For_Each_Train_Plan": {
        "type": "Foreach",
        "foreach": "@body('Filter_Active_FR_GB_Plans')",
        "actions": {
          "Transform_JSON_to_XML": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('FUNCTION_ENDPOINT')}/TransformTrainPlan?code=@{appsetting('FUNCTION_KEY')}",
              "headers": {
                "Content-Type": "application/json",
                "X-Correlation-Id": "@{variables('RunId')}"
              },
              "body": "@items('For_Each_Train_Plan')",
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT5S",
                "minimumInterval": "PT5S",
                "maximumInterval": "PT30S"
              }
            },
            "runAfter": {},
            "limit": {
              "timeout": "PT1M"
            }
          },
          "Scope_Upload_Success": {
            "type": "Scope",
            "actions": {
              "Delete_Existing_Blob": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureBlob",
                    "operationId": "deleteBlob",
                    "serviceProviderId": "/serviceProviders/AzureBlob"
                  },
                  "parameters": {
                    "containerName": "ci-rne-export",
                    "blobName": "@{formatDateTime(utcNow(), 'yyyy-MM')}/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml"
                  }
                },
                "runAfter": {}
              },
              "Archive_to_Blob": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureBlob",
                    "operationId": "uploadBlob",
                    "serviceProviderId": "/serviceProviders/AzureBlob"
                  },
                  "parameters": {
                    "containerName": "ci-rne-export",
                    "blobName": "@{formatDateTime(utcNow(), 'yyyy-MM')}/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                    "content": "@body('Transform_JSON_to_XML')"
                  }
                },
                "runAfter": {
                  "Delete_Existing_Blob": ["Succeeded", "Failed", "Skipped"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT5S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT30S"
                }
              },
              "Create_SFTP_Folder_Primary": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpPrimary",
                    "operationId": "createFolder",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "folderPath": "/upload/@{variables('TravelDate')}"
                  }
                },
                "runAfter": {
                  "Archive_to_Blob": ["Succeeded"]
                }
              },
              "Upload_to_Primary_SFTP": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpPrimary",
                    "operationId": "uploadFileContent",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "filePath": "/upload/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                    "content": "@body('Transform_JSON_to_XML')",
                    "overWriteFileIfExists": true
                  }
                },
                "runAfter": {
                  "Create_SFTP_Folder_Primary": ["Succeeded", "Failed", "Skipped"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT10S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT1M"
                }
              },
              "Create_SFTP_Folder_Backup": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpBackup",
                    "operationId": "createFolder",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "folderPath": "/upload/@{variables('TravelDate')}"
                  }
                },
                "runAfter": {
                  "Upload_to_Primary_SFTP": ["Succeeded"]
                }
              },
              "Upload_to_Backup_SFTP": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpBackup",
                    "operationId": "uploadFileContent",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "filePath": "/upload/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                    "content": "@body('Transform_JSON_to_XML')",
                    "overWriteFileIfExists": true
                  }
                },
                "runAfter": {
                  "Create_SFTP_Folder_Backup": ["Succeeded", "Failed", "Skipped"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT10S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT1M"
                }
              },
              "Increment_Success": {
                "type": "IncrementVariable",
                "inputs": {
                  "name": "SuccessCount",
                  "value": 1
                },
                "runAfter": {
                  "Upload_to_Backup_SFTP": ["Succeeded"]
                }
              }
            },
            "runAfter": {
              "Transform_JSON_to_XML": ["Succeeded"]
            }
          },
          "Scope_Handle_Failure": {
            "type": "Scope",
            "actions": {
              "Append_Failed_Train": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "FailedTrains",
                  "value": {
                    "trainId": "@items('For_Each_Train_Plan')?['serviceCode']",
                    "travelDate": "@variables('TravelDate')",
                    "failureReason": "@{result('Scope_Upload_Success')?[0]?['error']?['message']}",
                    "failureType": "UPLOAD",
                    "timestamp": "@utcNow()",
                    "runId": "@variables('RunId')"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Scope_Upload_Success": ["Failed", "TimedOut"]
            }
          }
        },
        "runAfter": {
          "Filter_Active_FR_GB_Plans": ["Succeeded"]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 5
          }
        }
      },
      "Condition_Has_Failures": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(variables('FailedTrains'))",
                0
              ]
            }
          ]
        },
        "actions": {
          "For_Each_Failed_Train": {
            "type": "Foreach",
            "foreach": "@variables('FailedTrains')",
            "actions": {
              "Insert_Failed_Export_Record": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureTables",
                    "operationId": "upsertEntity",
                    "serviceProviderId": "/serviceProviders/AzureTables"
                  },
                  "parameters": {
                    "tableName": "FailedExports",
                    "entity": {
                      "PartitionKey": "@{items('For_Each_Failed_Train')?['travelDate']}",
                      "RowKey": "@{guid()}",
                      "TrainId": "@{items('For_Each_Failed_Train')?['trainId']}",
                      "TravelDate": "@{items('For_Each_Failed_Train')?['travelDate']}",
                      "FailureReason": "@{items('For_Each_Failed_Train')?['failureReason']}",
                      "FailureType": "@{coalesce(items('For_Each_Failed_Train')?['failureType'], 'UNKNOWN')}",
                      "RetryCount": 0,
                      "CreatedAt": "@{items('For_Each_Failed_Train')?['timestamp']}",
                      "RunId": "@{coalesce(items('For_Each_Failed_Train')?['runId'], variables('RunId'))}",
                      "WorkflowType": "D2_EXPORT"
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "For_Each_Train_Plan": ["Succeeded", "Failed"]
        }
      }
    },
    "parameters": {}
  },
  "kind": "Stateful"
}
