sources/logicapps/nr-cif-processing/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Initialize_RunId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RunId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "workflowType": "CifProcessing",
          "runId": "@{variables('RunId')}"
        }
      },
      "Initialize_ProcessingStats": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ProcessingStats",
              "type": "object",
              "value": {
                "totalRecords": 0,
                "processedRecords": 0,
                "filteredRecords": 0,
                "publishedEvents": 0
              }
            }
          ]
        },
        "runAfter": {
          "Initialize_RunId": ["Succeeded"]
        }
      },
      "Call_CIF_Processing_Function": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('FUNCTION_ENDPOINT')}/api/ProcessCifOnDemand",
          "headers": {
            "Content-Type": "application/json",
            "X-Correlation-Id": "@{variables('RunId')}"
          },
          "body": {
            "fileType": "update",
            "forceRefresh": false
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 3,
            "interval": "PT10S",
            "minimumInterval": "PT5S",
            "maximumInterval": "PT1M"
          }
        },
        "runAfter": {
          "Initialize_ProcessingStats": ["Succeeded"]
        },
        "limit": {
          "timeout": "PT10M"
        }
      },
      "Parse_Function_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Call_CIF_Processing_Function')",
          "schema": {
            "type": "object",
            "properties": {
              "processId": { "type": "string" },
              "status": { "type": "string" },
              "statistics": {
                "type": "object",
                "properties": {
                  "totalLines": { "type": "integer" },
                  "schedulesProcessed": { "type": "integer" },
                  "schedulesFiltered": { "type": "integer" },
                  "eventsPublished": { "type": "integer" },
                  "duplicatesSkipped": { "type": "integer" },
                  "parseErrors": { "type": "integer" },
                  "processingTimeMs": { "type": "integer" }
                }
              },
              "timestamp": { "type": "string" },
              "errors": {
                "type": "array",
                "items": { "type": "string" }
              }
            }
          }
        },
        "runAfter": {
          "Call_CIF_Processing_Function": ["Succeeded"]
        }
      },
      "Check_Processing_Status": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@body('Parse_Function_Response')?['status']",
                "completed"
              ]
            }
          ]
        },
        "actions": {
          "Log_Success_To_Table": {
            "type": "ServiceProvider",
            "inputs": {
              "serviceProviderConfiguration": {
                "connectionName": "azuretables",
                "operationId": "insertEntity",
                "serviceProviderId": "/serviceProviders/azureTables"
              },
              "parameters": {
                "tableName": "CifProcessingLogs",
                "entity": {
                  "PartitionKey": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                  "RowKey": "@{variables('RunId')}",
                  "Status": "Completed",
                  "TotalLines": "@body('Parse_Function_Response')?['statistics']?['totalLines']",
                  "SchedulesProcessed": "@body('Parse_Function_Response')?['statistics']?['schedulesProcessed']",
                  "EventsPublished": "@body('Parse_Function_Response')?['statistics']?['eventsPublished']",
                  "ProcessingTimeMs": "@body('Parse_Function_Response')?['statistics']?['processingTimeMs']",
                  "CompletedAt": "@{utcNow()}"
                }
              }
            }
          }
        },
        "else": {
          "actions": {
            "Log_Failure_To_Table": {
              "type": "ServiceProvider",
              "inputs": {
                "serviceProviderConfiguration": {
                  "connectionName": "azuretables",
                  "operationId": "insertEntity",
                  "serviceProviderId": "/serviceProviders/azureTables"
                },
                "parameters": {
                  "tableName": "CifProcessingLogs",
                  "entity": {
                    "PartitionKey": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                    "RowKey": "@{variables('RunId')}",
                    "Status": "Failed",
                    "Errors": "@{join(body('Parse_Function_Response')?['errors'], '; ')}",
                    "CompletedAt": "@{utcNow()}"
                  }
                }
              }
            },
            "Terminate_On_Failure": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "CifProcessingFailed",
                  "message": "CIF processing failed: @{first(body('Parse_Function_Response')?['errors'])}"
                }
              },
              "runAfter": {
                "Log_Failure_To_Table": ["Succeeded"]
              }
            }
          }
        },
        "runAfter": {
          "Parse_Function_Response": ["Succeeded"]
        }
      },
      "Response_Success": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json",
            "X-Correlation-Id": "@{variables('RunId')}"
          },
          "body": {
            "runId": "@{variables('RunId')}",
            "status": "completed",
            "statistics": "@body('Parse_Function_Response')?['statistics']",
            "timestamp": "@{utcNow()}"
          }
        },
        "runAfter": {
          "Check_Processing_Status": ["Succeeded"]
        },
        "trackedProperties": {
          "eventType": "CifProcessingComplete",
          "runId": "@{variables('RunId')}",
          "schedulesProcessed": "@{body('Parse_Function_Response')?['statistics']?['schedulesProcessed']}",
          "eventsPublished": "@{body('Parse_Function_Response')?['statistics']?['eventsPublished']}"
        }
      }
    },
    "triggers": {
      "Manual_HTTP_Trigger": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "fileType": {
                "type": "string",
                "description": "Type of CIF file: 'update' or 'full'"
              },
              "forceRefresh": {
                "type": "boolean",
                "description": "If true, ignore deduplication"
              }
            }
          }
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  },
  "kind": "Stateful"
}
