sources/logicapps/rne-daily-export/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.1.0.0",
    "triggers": {
      "Recurrence_Daily_Export": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": ["6"],
            "minutes": [0]
          },
          "timeZone": "Romance Standard Time"
        }
      }
    },
    "actions": {
      "Initialize_RunId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RunId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "workflowType": "DailyExport"
        }
      },
      "Initialize_TravelDate": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TravelDate",
              "type": "string",
              "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
            }
          ]
        },
        "runAfter": {
          "Initialize_RunId": ["Succeeded"]
        }
      },
      "Initialize_FailedTrains": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FailedTrains",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Initialize_TravelDate": ["Succeeded"]
        }
      },
      "Initialize_SuccessCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SuccessCount",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "Initialize_FailedTrains": ["Succeeded"]
        }
      },
      "Query_GraphQL_API": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@appsetting('OPS_API_ENDPOINT')",
          "headers": {
            "Content-Type": "application/json",
            "X-Correlation-Id": "@{variables('RunId')}"
          },
          "body": {
            "query": "query GetTrainPlans($travelDate: Date!) { trainPlans(filter: { travelDate: $travelDate }) { id serviceCode pathway travelDate passagePoints { locationCode arrivalTime departureTime } origin destination status planType country } }",
            "variables": {
              "travelDate": "@{variables('TravelDate')}"
            }
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 4,
            "interval": "PT10S",
            "minimumInterval": "PT5S",
            "maximumInterval": "PT1M"
          }
        },
        "runAfter": {
          "Initialize_SuccessCount": ["Succeeded"]
        },
        "limit": {
          "timeout": "PT2M"
        },
        "trackedProperties": {
          "eventType": "GraphQLQuery",
          "travelDate": "@{variables('TravelDate')}"
        }
      },
      "Check_API_Response_Status": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@outputs('Query_GraphQL_API')['statusCode']",
                200
              ]
            }
          ]
        },
        "actions": {
          "Parse_GraphQL_Response": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Query_GraphQL_API')",
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "trainPlans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string" },
                            "serviceCode": { "type": "string" },
                            "pathway": { "type": "string" },
                            "travelDate": { "type": "string" },
                            "origin": { "type": "string" },
                            "destination": { "type": "string" },
                            "status": { "type": "string" },
                            "planType": { "type": "string" },
                            "country": { "type": "string" }
                          }
                        }
                      }
                    }
                  },
                  "errors": {
                    "type": "array"
                  }
                }
              }
            },
            "runAfter": {}
          },
          "Check_GraphQL_Errors": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "greater": [
                    "@length(coalesce(body('Parse_GraphQL_Response')?['errors'], json('[]')))",
                    0
                  ]
                }
              ]
            },
            "actions": {
              "Terminate_GraphQL_Error": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "GraphQLError",
                    "message": "GraphQL API returned errors"
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {
                "Filter_Active_FR_GB_Plans": {
                  "type": "Query",
                  "inputs": {
                    "from": "@coalesce(body('Parse_GraphQL_Response')?['data']?['trainPlans'], json('[]'))",
                    "where": "@and(or(equals(item()?['country'], 'FR'), equals(item()?['country'], 'GB')), equals(item()?['status'], 'ACTIVE'), not(equals(item()?['planType'], 'EVOLUTION')))"
                  },
                  "runAfter": {}
                },
                "For_Each_Train_Plan": {
                  "type": "Foreach",
                  "foreach": "@body('Filter_Active_FR_GB_Plans')",
                  "actions": {
                    "Validate_Required_Fields": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@coalesce(items('For_Each_Train_Plan')?['serviceCode'], '')",
                                ""
                              ]
                            }
                          },
                          {
                            "not": {
                              "equals": [
                                "@coalesce(items('For_Each_Train_Plan')?['id'], '')",
                                ""
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Transform_JSON_to_XML": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{appsetting('FUNCTION_ENDPOINT')}/TransformTrainPlan",
                            "headers": {
                              "Content-Type": "application/json",
                              "X-Correlation-Id": "@{variables('RunId')}"
                            },
                            "body": "@items('For_Each_Train_Plan')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT5S",
                              "minimumInterval": "PT2S",
                              "maximumInterval": "PT30S"
                            }
                          },
                          "runAfter": {},
                          "limit": {
                            "timeout": "PT1M"
                          }
                        },
                        "Scope_Upload_Success": {
                          "type": "Scope",
                          "actions": {
                            "Archive_to_Blob": {
                              "type": "ServiceProvider",
                              "inputs": {
                                "serviceProviderConfiguration": {
                                  "connectionName": "AzureBlob",
                                  "operationId": "uploadBlob",
                                  "serviceProviderId": "/serviceProviders/AzureBlob"
                                },
                                "parameters": {
                                  "containerName": "ci-rne-export",
                                  "blobName": "@{formatDateTime(utcNow(), 'yyyy-MM')}/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                                  "content": "@body('Transform_JSON_to_XML')"
                                }
                              },
                              "runAfter": {},
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 3,
                                "interval": "PT5S",
                                "minimumInterval": "PT2S",
                                "maximumInterval": "PT30S"
                              }
                            },
                            "Upload_to_Primary_SFTP": {
                              "type": "ServiceProvider",
                              "inputs": {
                                "serviceProviderConfiguration": {
                                  "connectionName": "SftpPrimary",
                                  "operationId": "uploadFile",
                                  "serviceProviderId": "/serviceProviders/Sftp"
                                },
                                "parameters": {
                                  "path": "/upload/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                                  "content": "@body('Transform_JSON_to_XML')"
                                }
                              },
                              "runAfter": {
                                "Archive_to_Blob": ["Succeeded"]
                              },
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 3,
                                "interval": "PT10S",
                                "minimumInterval": "PT5S",
                                "maximumInterval": "PT1M"
                              }
                            },
                            "Upload_to_Backup_SFTP": {
                              "type": "ServiceProvider",
                              "inputs": {
                                "serviceProviderConfiguration": {
                                  "connectionName": "SftpBackup",
                                  "operationId": "uploadFile",
                                  "serviceProviderId": "/serviceProviders/Sftp"
                                },
                                "parameters": {
                                  "path": "/upload/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                                  "content": "@body('Transform_JSON_to_XML')"
                                }
                              },
                              "runAfter": {
                                "Upload_to_Primary_SFTP": ["Succeeded"]
                              },
                              "retryPolicy": {
                                "type": "exponential",
                                "count": 3,
                                "interval": "PT10S",
                                "minimumInterval": "PT5S",
                                "maximumInterval": "PT1M"
                              }
                            },
                            "Increment_Success": {
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "SuccessCount",
                                "value": 1
                              },
                              "runAfter": {
                                "Upload_to_Backup_SFTP": ["Succeeded"]
                              }
                            }
                          },
                          "runAfter": {
                            "Transform_JSON_to_XML": ["Succeeded"]
                          }
                        },
                        "Scope_Handle_Failure": {
                          "type": "Scope",
                          "actions": {
                            "Append_Failed_Train": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "FailedTrains",
                                "value": {
                                  "trainId": "@items('For_Each_Train_Plan')?['serviceCode']",
                                  "travelDate": "@variables('TravelDate')",
                                  "failureReason": "@{coalesce(result('Scope_Upload_Success')?[0]?['error']?['message'], 'Upload failed')}",
                                  "failureType": "UPLOAD",
                                  "timestamp": "@utcNow()",
                                  "runId": "@variables('RunId')"
                                }
                              },
                              "runAfter": {}
                            }
                          },
                          "runAfter": {
                            "Scope_Upload_Success": ["Failed", "TimedOut"]
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Append_Validation_Failure": {
                            "type": "AppendToArrayVariable",
                            "inputs": {
                              "name": "FailedTrains",
                              "value": {
                                "trainId": "@coalesce(items('For_Each_Train_Plan')?['serviceCode'], 'UNKNOWN')",
                                "travelDate": "@variables('TravelDate')",
                                "failureReason": "Missing required fields (serviceCode or id)",
                                "failureType": "VALIDATION",
                                "timestamp": "@utcNow()",
                                "runId": "@variables('RunId')"
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Filter_Active_FR_GB_Plans": ["Succeeded"]
                  },
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 5
                    }
                  }
                }
              }
            },
            "runAfter": {
              "Parse_GraphQL_Response": ["Succeeded"]
            }
          }
        },
        "else": {
          "actions": {
            "Terminate_API_Error": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "APIError",
                  "message": "GraphQL API returned HTTP @{outputs('Query_GraphQL_API')['statusCode']}"
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Query_GraphQL_API": ["Succeeded", "Failed"]
        }
      },
      "Condition_Has_Failures": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(variables('FailedTrains'))",
                0
              ]
            }
          ]
        },
        "actions": {
          "For_Each_Failed_Train": {
            "type": "Foreach",
            "foreach": "@variables('FailedTrains')",
            "actions": {
              "Insert_Failed_Export_Record": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureTableStorage",
                    "operationId": "insertEntity",
                    "serviceProviderId": "/serviceProviders/AzureTable"
                  },
                  "parameters": {
                    "tableName": "FailedExports",
                    "entity": {
                      "PartitionKey": "@{items('For_Each_Failed_Train')?['travelDate']}",
                      "RowKey": "@{guid()}",
                      "TrainId": "@{items('For_Each_Failed_Train')?['trainId']}",
                      "TravelDate": "@{items('For_Each_Failed_Train')?['travelDate']}",
                      "FailureReason": "@{items('For_Each_Failed_Train')?['failureReason']}",
                      "FailureType": "@{coalesce(items('For_Each_Failed_Train')?['failureType'], 'UNKNOWN')}",
                      "RetryCount": 0,
                      "CreatedAt": "@{items('For_Each_Failed_Train')?['timestamp']}",
                      "RunId": "@{coalesce(items('For_Each_Failed_Train')?['runId'], variables('RunId'))}",
                      "WorkflowType": "DAILY_EXPORT"
                    }
                  }
                },
                "runAfter": {},
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT5S",
                  "minimumInterval": "PT2S",
                  "maximumInterval": "PT30S"
                }
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Check_API_Response_Status": ["Succeeded", "Failed", "Skipped"]
        },
        "trackedProperties": {
          "eventType": "WorkflowEnd",
          "successCount": "@{variables('SuccessCount')}",
          "failedCount": "@{length(variables('FailedTrains'))}"
        }
      }
    },
    "parameters": {}
  },
  "kind": "Stateful"
}
