sources/logicapps/rne-http-trigger/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.1.0.0",
    "triggers": {
      "Manual_HTTP_Trigger": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "travelDate": {
                "type": "string",
                "description": "The travel date in yyyy-MM-dd format"
              },
              "exportType": {
                "type": "string",
                "enum": ["DAILY", "D+2", "ADHOC"],
                "description": "The type of export to perform"
              },
              "trainIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Optional: specific train IDs to export. If empty, exports all matching trains."
              }
            },
            "required": ["travelDate"]
          },
          "method": "POST"
        }
      }
    },
    "actions": {
      "Initialize_RunId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RunId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "workflowType": "HttpTriggerExport"
        }
      },
      "Initialize_TravelDate": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TravelDate",
              "type": "string",
              "value": "@{coalesce(triggerBody()?['travelDate'], formatDateTime(utcNow(), 'yyyy-MM-dd'))}"
            }
          ]
        },
        "runAfter": {
          "Initialize_RunId": ["Succeeded"]
        }
      },
      "Initialize_ExportType": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ExportType",
              "type": "string",
              "value": "@{coalesce(triggerBody()?['exportType'], 'ADHOC')}"
            }
          ]
        },
        "runAfter": {
          "Initialize_TravelDate": ["Succeeded"]
        }
      },
      "Initialize_RequestedTrainIds": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RequestedTrainIds",
              "type": "array",
              "value": "@coalesce(triggerBody()?['trainIds'], json('[]'))"
            }
          ]
        },
        "runAfter": {
          "Initialize_ExportType": ["Succeeded"]
        }
      },
      "Initialize_SuccessCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SuccessCount",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "Initialize_RequestedTrainIds": ["Succeeded"]
        }
      },
      "Initialize_FailedTrains": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FailedTrains",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Initialize_SuccessCount": ["Succeeded"]
        }
      },
      "Query_GraphQL_API": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('OPS_API_ENDPOINT')}/graphql",
          "headers": {
            "Content-Type": "application/json",
            "X-Correlation-Id": "@{variables('RunId')}"
          },
          "body": {
            "query": "query GetTrainPlans($travelDate: Date!) { trainPlans(filter: { travelDate: $travelDate }) { id serviceCode pathway travelDate passagePoints { locationCode arrivalTime departureTime } origin destination status planType country } }",
            "variables": {
              "travelDate": "@{variables('TravelDate')}"
            }
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 4,
            "interval": "PT10S",
            "minimumInterval": "PT5S",
            "maximumInterval": "PT1M"
          }
        },
        "runAfter": {
          "Initialize_FailedTrains": ["Succeeded"]
        },
        "limit": {
          "timeout": "PT2M"
        },
        "trackedProperties": {
          "eventType": "GraphQLQuery"
        }
      },
      "Parse_GraphQL_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Query_GraphQL_API')",
          "schema": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "trainPlans": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "serviceCode": { "type": "string" },
                        "pathway": { "type": "string" },
                        "travelDate": { "type": "string" },
                        "origin": { "type": "string" },
                        "destination": { "type": "string" },
                        "status": { "type": "string" },
                        "planType": { "type": "string" },
                        "country": { "type": "string" },
                        "passagePoints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "locationCode": { "type": "string" },
                              "arrivalTime": { "type": ["string", "null"] },
                              "departureTime": { "type": ["string", "null"] }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "Query_GraphQL_API": ["Succeeded"]
        }
      },
      "Filter_Active_FR_GB_Plans": {
        "type": "Query",
        "inputs": {
          "from": "@body('Parse_GraphQL_Response')?['data']?['trainPlans']",
          "where": "@and(or(equals(item()?['country'], 'FR'), equals(item()?['country'], 'GB')), equals(item()?['status'], 'ACTIVE'), not(equals(item()?['planType'], 'EVOLUTION')))"
        },
        "runAfter": {
          "Parse_GraphQL_Response": ["Succeeded"]
        }
      },
      "Condition_Filter_Specific_Trains": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(variables('RequestedTrainIds'))",
                0
              ]
            }
          ]
        },
        "actions": {
          "Filter_By_Requested_Ids": {
            "type": "Query",
            "inputs": {
              "from": "@body('Filter_Active_FR_GB_Plans')",
              "where": "@contains(variables('RequestedTrainIds'), item()?['serviceCode'])"
            },
            "runAfter": {}
          },
          "Set_FilteredPlans_Specific": {
            "type": "SetVariable",
            "inputs": {
              "name": "FilteredPlans",
              "value": "@body('Filter_By_Requested_Ids')"
            },
            "runAfter": {
              "Filter_By_Requested_Ids": ["Succeeded"]
            }
          }
        },
        "else": {
          "actions": {
            "Set_FilteredPlans_All": {
              "type": "SetVariable",
              "inputs": {
                "name": "FilteredPlans",
                "value": "@body('Filter_Active_FR_GB_Plans')"
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Initialize_FilteredPlans": ["Succeeded"]
        }
      },
      "Initialize_FilteredPlans": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FilteredPlans",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Filter_Active_FR_GB_Plans": ["Succeeded"]
        }
      },
      "For_Each_Train_Plan": {
        "type": "Foreach",
        "foreach": "@variables('FilteredPlans')",
        "actions": {
          "Transform_JSON_to_XML": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('FUNCTION_ENDPOINT')}/TransformTrainPlan?code=@{appsetting('FUNCTION_KEY')}",
              "headers": {
                "Content-Type": "application/json",
                "X-Correlation-Id": "@{variables('RunId')}"
              },
              "body": "@items('For_Each_Train_Plan')",
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT5S",
                "minimumInterval": "PT5S",
                "maximumInterval": "PT30S"
              }
            },
            "runAfter": {},
            "limit": {
              "timeout": "PT1M"
            }
          },
          "Scope_Upload_Success": {
            "type": "Scope",
            "actions": {
              "Delete_Existing_Blob": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureBlob",
                    "operationId": "deleteBlob",
                    "serviceProviderId": "/serviceProviders/AzureBlob"
                  },
                  "parameters": {
                    "containerName": "ci-rne-export",
                    "blobName": "@{formatDateTime(utcNow(), 'yyyy-MM')}/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}_@{variables('ExportType')}.xml"
                  }
                },
                "runAfter": {}
              },
              "Archive_to_Blob": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureBlob",
                    "operationId": "uploadBlob",
                    "serviceProviderId": "/serviceProviders/AzureBlob"
                  },
                  "parameters": {
                    "containerName": "ci-rne-export",
                    "blobName": "@{formatDateTime(utcNow(), 'yyyy-MM')}/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}_@{variables('ExportType')}.xml",
                    "content": "@body('Transform_JSON_to_XML')"
                  }
                },
                "runAfter": {
                  "Delete_Existing_Blob": ["Succeeded", "Failed", "Skipped"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT5S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT30S"
                }
              },
              "Create_SFTP_Folder_Primary": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpPrimary",
                    "operationId": "createFolder",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "folderPath": "/upload/@{variables('TravelDate')}"
                  }
                },
                "runAfter": {
                  "Archive_to_Blob": ["Succeeded"]
                }
              },
              "Upload_to_Primary_SFTP": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpPrimary",
                    "operationId": "uploadFileContent",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "filePath": "/upload/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}_@{variables('ExportType')}.xml",
                    "content": "@body('Transform_JSON_to_XML')",
                    "overWriteFileIfExists": true
                  }
                },
                "runAfter": {
                  "Create_SFTP_Folder_Primary": ["Succeeded", "Failed", "Skipped"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT10S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT1M"
                }
              },
              "Create_SFTP_Folder_Backup": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpBackup",
                    "operationId": "createFolder",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "folderPath": "/upload/@{variables('TravelDate')}"
                  }
                },
                "runAfter": {
                  "Upload_to_Primary_SFTP": ["Succeeded"]
                }
              },
              "Upload_to_Backup_SFTP": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpBackup",
                    "operationId": "uploadFileContent",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "filePath": "/upload/@{variables('TravelDate')}/@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}_@{variables('ExportType')}.xml",
                    "content": "@body('Transform_JSON_to_XML')",
                    "overWriteFileIfExists": true
                  }
                },
                "runAfter": {
                  "Create_SFTP_Folder_Backup": ["Succeeded", "Failed", "Skipped"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT10S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT1M"
                }
              },
              "Increment_Success_Count": {
                "type": "IncrementVariable",
                "inputs": {
                  "name": "SuccessCount",
                  "value": 1
                },
                "runAfter": {
                  "Upload_to_Backup_SFTP": ["Succeeded"]
                }
              }
            },
            "runAfter": {
              "Transform_JSON_to_XML": ["Succeeded"]
            }
          },
          "Scope_Handle_Failure": {
            "type": "Scope",
            "actions": {
              "Append_Failed_Train": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "FailedTrains",
                  "value": {
                    "trainId": "@items('For_Each_Train_Plan')?['serviceCode']",
                    "travelDate": "@variables('TravelDate')",
                    "failureReason": "@{result('Scope_Upload_Success')?[0]?['error']?['message']}",
                    "timestamp": "@utcNow()"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Scope_Upload_Success": ["Failed", "TimedOut"]
            }
          }
        },
        "runAfter": {
          "Condition_Filter_Specific_Trains": ["Succeeded"]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 5
          }
        }
      },
      "Condition_Has_Failures": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(variables('FailedTrains'))",
                0
              ]
            }
          ]
        },
        "actions": {
          "For_Each_Failed_Train": {
            "type": "Foreach",
            "foreach": "@variables('FailedTrains')",
            "actions": {
              "Insert_Failed_Export_Record": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureTables",
                    "operationId": "upsertEntity",
                    "serviceProviderId": "/serviceProviders/AzureTables"
                  },
                  "parameters": {
                    "tableName": "FailedExports",
                    "entity": {
                      "PartitionKey": "@{items('For_Each_Failed_Train')?['travelDate']}",
                      "RowKey": "@{guid()}",
                      "TrainId": "@{items('For_Each_Failed_Train')?['trainId']}",
                      "TravelDate": "@{items('For_Each_Failed_Train')?['travelDate']}",
                      "FailureReason": "@{items('For_Each_Failed_Train')?['failureReason']}",
                      "RetryCount": 0,
                      "CreatedAt": "@{items('For_Each_Failed_Train')?['timestamp']}",
                      "TriggeredBy": "HTTP_MANUAL"
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "For_Each_Train_Plan": ["Succeeded", "Failed"]
        }
      },
      "Response_Success": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "status": "completed",
            "exportType": "@{variables('ExportType')}",
            "travelDate": "@{variables('TravelDate')}",
            "triggeredAt": "@{utcNow()}",
            "summary": {
              "totalPlansProcessed": "@{length(variables('FilteredPlans'))}",
              "successfulExports": "@{variables('SuccessCount')}",
              "failedExports": "@{length(variables('FailedTrains'))}"
            },
            "failedTrains": "@variables('FailedTrains')",
            "message": "@{if(equals(length(variables('FailedTrains')), 0), 'All exports completed successfully', concat('Export completed with ', string(length(variables('FailedTrains'))), ' failures'))}"
          }
        },
        "runAfter": {
          "Condition_Has_Failures": ["Succeeded"]
        }
      }
    },
    "parameters": {}
  },
  "kind": "Stateful"
}
