infra/workflows/rne-d2-export.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_D2_Export": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": ["6"],
            "minutes": [30]
          },
          "timeZone": "Romance Standard Time"
        }
      }
    },
    "actions": {
      "Initialize_TravelDate_D2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TravelDate",
              "type": "string",
              "value": "@{formatDateTime(addDays(utcNow(), 2), 'yyyy-MM-dd')}"
            }
          ]
        },
        "runAfter": {}
      },
      "Initialize_FailedTrains": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FailedTrains",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Initialize_TravelDate_D2": ["Succeeded"]
        }
      },
      "Query_GraphQL_API_D2": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('OPS_API_ENDPOINT')}",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "query": "query GetTrainPlans($travelDate: Date!) { trainPlans(filter: { travelDate: $travelDate }) { id serviceCode pathway travelDate passagePoints { locationCode arrivalTime departureTime } origin destination status planType country } }",
            "variables": {
              "travelDate": "@{variables('TravelDate')}"
            }
          }
        },
        "runAfter": {
          "Initialize_FailedTrains": ["Succeeded"]
        }
      },
      "Parse_GraphQL_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Query_GraphQL_API_D2')",
          "schema": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "trainPlans": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "serviceCode": { "type": "string" },
                        "pathway": { "type": "string" },
                        "travelDate": { "type": "string" },
                        "origin": { "type": "string" },
                        "destination": { "type": "string" },
                        "status": { "type": "string" },
                        "planType": { "type": "string" },
                        "country": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "Query_GraphQL_API_D2": ["Succeeded"]
        }
      },
      "Filter_Active_FR_GB_Plans": {
        "type": "Query",
        "inputs": {
          "from": "@body('Parse_GraphQL_Response')?['data']?['trainPlans']",
          "where": "@and(or(equals(item()?['country'], 'FR'), equals(item()?['country'], 'GB')), equals(item()?['status'], 'ACTIVE'), not(equals(item()?['planType'], 'EVOLUTION')))"
        },
        "runAfter": {
          "Parse_GraphQL_Response": ["Succeeded"]
        }
      },
      "For_Each_Train_Plan": {
        "type": "Foreach",
        "foreach": "@body('Filter_Active_FR_GB_Plans')",
        "actions": {
          "Transform_JSON_to_XML": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('FUNCTION_ENDPOINT')}/TransformTrainPlan",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "@items('For_Each_Train_Plan')"
            },
            "runAfter": {}
          },
          "Scope_Upload_Success": {
            "type": "Scope",
            "actions": {
              "Archive_to_Blob": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azureblob']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v2/datasets/@{encodeURIComponent('AccountNameFromSettings')}/files",
                  "queries": {
                    "folderPath": "/ci-rne-export/@{formatDateTime(utcNow(), 'yyyy-MM')}/@{variables('TravelDate')}",
                    "name": "@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                    "queryParametersSingleEncoded": true
                  },
                  "body": "@body('Transform_JSON_to_XML')"
                },
                "runAfter": {}
              },
              "Upload_to_Primary_SFTP": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sftpprimary']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/datasets/default/files",
                  "queries": {
                    "folderPath": "/upload/@{variables('TravelDate')}",
                    "name": "@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                    "queryParametersSingleEncoded": true
                  },
                  "body": "@body('Transform_JSON_to_XML')"
                },
                "runAfter": {
                  "Archive_to_Blob": ["Succeeded"]
                }
              },
              "Upload_to_Backup_SFTP": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['sftpbackup']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/datasets/default/files",
                  "queries": {
                    "folderPath": "/upload/@{variables('TravelDate')}",
                    "name": "@{items('For_Each_Train_Plan')?['serviceCode']}_@{variables('TravelDate')}.xml",
                    "queryParametersSingleEncoded": true
                  },
                  "body": "@body('Transform_JSON_to_XML')"
                },
                "runAfter": {
                  "Upload_to_Primary_SFTP": ["Succeeded"]
                }
              }
            },
            "runAfter": {
              "Transform_JSON_to_XML": ["Succeeded"]
            }
          },
          "Scope_Handle_Failure": {
            "type": "Scope",
            "actions": {
              "Append_Failed_Train": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "FailedTrains",
                  "value": {
                    "trainId": "@items('For_Each_Train_Plan')?['serviceCode']",
                    "travelDate": "@variables('TravelDate')",
                    "failureReason": "@{result('Scope_Upload_Success')?[0]?['error']?['message']}",
                    "timestamp": "@utcNow()"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Scope_Upload_Success": ["Failed", "TimedOut"]
            }
          }
        },
        "runAfter": {
          "Filter_Active_FR_GB_Plans": ["Succeeded"]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 5
          }
        }
      },
      "Condition_Has_Failures": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(variables('FailedTrains'))",
                0
              ]
            }
          ]
        },
        "actions": {
          "For_Each_Failed_Train": {
            "type": "Foreach",
            "foreach": "@variables('FailedTrains')",
            "actions": {
              "Insert_Failed_Export_Record": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuretables']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v2/storageAccounts/@{encodeURIComponent('AccountNameFromSettings')}/tables/@{encodeURIComponent('FailedExports')}/entities",
                  "body": {
                    "PartitionKey": "@{items('For_Each_Failed_Train')?['travelDate']}",
                    "RowKey": "@{guid()}",
                    "TrainId": "@{items('For_Each_Failed_Train')?['trainId']}",
                    "TravelDate": "@{items('For_Each_Failed_Train')?['travelDate']}",
                    "FailureReason": "@{items('For_Each_Failed_Train')?['failureReason']}",
                    "RetryCount": 0,
                    "CreatedAt": "@{items('For_Each_Failed_Train')?['timestamp']}"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "For_Each_Train_Plan": ["Succeeded", "Failed"]
        }
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "azureblob": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/azureblob"
        },
        "sftpprimary": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/sftp-primary",
          "connectionName": "sftp-primary",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/sftp"
        },
        "sftpbackup": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/sftp-backup",
          "connectionName": "sftp-backup",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/sftp"
        },
        "azuretables": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/azuretables",
          "connectionName": "azuretables",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/azuretables"
        }
      }
    }
  }
}
