sources/logicapps/rne-retry-failed/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_Retry_Failed": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": ["7"],
            "minutes": [0]
          },
          "timeZone": "Romance Standard Time"
        }
      }
    },
    "actions": {
      "Initialize_RunId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RunId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "workflowType": "RetryFailed"
        }
      },
      "Initialize_TodayDate": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TodayDate",
              "type": "string",
              "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
            }
          ]
        },
        "runAfter": {
          "Initialize_RunId": ["Succeeded"]
        }
      },
      "Initialize_MaxRetries": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MaxRetries",
              "type": "integer",
              "value": 3
            }
          ]
        },
        "runAfter": {
          "Initialize_TodayDate": ["Succeeded"]
        }
      },
      "Query_Failed_Exports": {
        "type": "ServiceProvider",
        "inputs": {
          "serviceProviderConfiguration": {
            "connectionName": "AzureTables",
            "operationId": "queryEntities",
            "serviceProviderId": "/serviceProviders/AzureTables"
          },
          "parameters": {
            "tableName": "FailedExports",
            "filter": "PartitionKey eq '@{variables('TodayDate')}' and RetryCount lt @{variables('MaxRetries')}"
          }
        },
        "runAfter": {
          "Initialize_MaxRetries": ["Succeeded"]
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 3,
          "interval": "PT5S",
          "minimumInterval": "PT5S",
          "maximumInterval": "PT30S"
        }
      },
      "Parse_Failed_Exports": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Query_Failed_Exports')",
          "schema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "PartitionKey": { "type": "string" },
                "RowKey": { "type": "string" },
                "TrainId": { "type": "string" },
                "TravelDate": { "type": "string" },
                "FailureReason": { "type": "string" },
                "RetryCount": { "type": "integer" },
                "CreatedAt": { "type": "string" }
              }
            }
          }
        },
        "runAfter": {
          "Query_Failed_Exports": ["Succeeded"]
        }
      },
      "For_Each_Failed_Export": {
        "type": "Foreach",
        "foreach": "@body('Parse_Failed_Exports')",
        "actions": {
          "Get_Train_Plan_By_Id": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@appsetting('OPS_API_ENDPOINT')",
              "headers": {
                "Content-Type": "application/json",
                "X-Correlation-Id": "@{variables('RunId')}"
              },
              "body": {
                "query": "query GetTrainPlanById($id: ID!) { trainPlan(id: $id) { id serviceCode pathway travelDate passagePoints { locationCode arrivalTime departureTime } origin destination status planType country } }",
                "variables": {
                  "id": "@{items('For_Each_Failed_Export')?['TrainId']}"
                }
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT5S",
                "minimumInterval": "PT5S",
                "maximumInterval": "PT30S"
              }
            },
            "runAfter": {},
            "limit": {
              "timeout": "PT1M"
            }
          },
          "Parse_Train_Plan": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Get_Train_Plan_By_Id')",
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "trainPlan": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "serviceCode": { "type": "string" },
                          "pathway": { "type": "string" },
                          "travelDate": { "type": "string" },
                          "origin": { "type": "string" },
                          "destination": { "type": "string" },
                          "status": { "type": "string" },
                          "planType": { "type": "string" },
                          "country": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            },
            "runAfter": {
              "Get_Train_Plan_By_Id": ["Succeeded"]
            }
          },
          "Transform_JSON_to_XML": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('FUNCTION_ENDPOINT')}/TransformTrainPlan",
              "headers": {
                "Content-Type": "application/json",
                "X-Correlation-Id": "@{variables('RunId')}"
              },
              "body": "@body('Parse_Train_Plan')?['data']?['trainPlan']",
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT5S",
                "minimumInterval": "PT5S",
                "maximumInterval": "PT30S"
              }
            },
            "runAfter": {
              "Parse_Train_Plan": ["Succeeded"]
            },
            "limit": {
              "timeout": "PT1M"
            }
          },
          "Scope_Retry_Upload": {
            "type": "Scope",
            "actions": {
              "Archive_to_Blob": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureBlob",
                    "operationId": "uploadBlob",
                    "serviceProviderId": "/serviceProviders/AzureBlob"
                  },
                  "parameters": {
                    "containerName": "ci-rne-export",
                    "blobName": "@{formatDateTime(utcNow(), 'yyyy-MM')}/@{items('For_Each_Failed_Export')?['TravelDate']}/@{items('For_Each_Failed_Export')?['TrainId']}_@{items('For_Each_Failed_Export')?['TravelDate']}_retry.xml",
                    "content": "@body('Transform_JSON_to_XML')"
                  }
                },
                "runAfter": {},
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT5S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT30S"
                }
              },
              "Upload_to_Primary_SFTP": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "SftpPrimary",
                    "operationId": "uploadFile",
                    "serviceProviderId": "/serviceProviders/Sftp"
                  },
                  "parameters": {
                    "path": "/upload/@{items('For_Each_Failed_Export')?['TravelDate']}/@{items('For_Each_Failed_Export')?['TrainId']}_@{items('For_Each_Failed_Export')?['TravelDate']}_retry.xml",
                    "content": "@body('Transform_JSON_to_XML')"
                  }
                },
                "runAfter": {
                  "Archive_to_Blob": ["Succeeded"]
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 3,
                  "interval": "PT10S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT1M"
                }
              },
              "Delete_Retry_Record": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureTables",
                    "operationId": "deleteEntity",
                    "serviceProviderId": "/serviceProviders/AzureTables"
                  },
                  "parameters": {
                    "tableName": "FailedExports",
                    "partitionKey": "@{items('For_Each_Failed_Export')?['PartitionKey']}",
                    "rowKey": "@{items('For_Each_Failed_Export')?['RowKey']}"
                  }
                },
                "runAfter": {
                  "Upload_to_Primary_SFTP": ["Succeeded"]
                }
              }
            },
            "runAfter": {
              "Transform_JSON_to_XML": ["Succeeded"]
            }
          },
          "Scope_Increment_Retry": {
            "type": "Scope",
            "actions": {
              "Update_Retry_Count": {
                "type": "ServiceProvider",
                "inputs": {
                  "serviceProviderConfiguration": {
                    "connectionName": "AzureTables",
                    "operationId": "updateEntity",
                    "serviceProviderId": "/serviceProviders/AzureTables"
                  },
                  "parameters": {
                    "tableName": "FailedExports",
                    "entity": {
                      "PartitionKey": "@{items('For_Each_Failed_Export')?['PartitionKey']}",
                      "RowKey": "@{items('For_Each_Failed_Export')?['RowKey']}",
                      "TrainId": "@{items('For_Each_Failed_Export')?['TrainId']}",
                      "TravelDate": "@{items('For_Each_Failed_Export')?['TravelDate']}",
                      "FailureReason": "@{items('For_Each_Failed_Export')?['FailureReason']}",
                      "RetryCount": "@{add(items('For_Each_Failed_Export')?['RetryCount'], 1)}",
                      "CreatedAt": "@{items('For_Each_Failed_Export')?['CreatedAt']}",
                      "LastRetryAt": "@{utcNow()}"
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Scope_Retry_Upload": ["Failed", "TimedOut"]
            }
          }
        },
        "runAfter": {
          "Parse_Failed_Exports": ["Succeeded"]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 1
          }
        }
      }
    },
    "parameters": {}
  },
  "kind": "Stateful"
}
