sources/logicapps/sf-negotiated-rates/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_events_are_available_in_Event_Hub": {
        "type": "ServiceProvider",
        "inputs": {
          "serviceProviderConfiguration": {
            "connectionName": "eventHub",
            "operationId": "receiveEvents",
            "serviceProviderId": "/serviceProviders/eventHub"
          },
          "parameters": {
            "eventHubName": "@appsetting('EVENTHUB_NAME')",
            "consumerGroup": "logicapps-consumer"
          }
        },
        "splitOn": "@triggerOutputs()?['body']"
      }
    },
    "actions": {
      "Initialize_RunId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RunId",
              "type": "string",
              "value": "@{guid()}"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "workflowType": "SalesforceNegotiatedRatesExport",
          "eventType": "WorkflowStart"
        }
      },
      "Initialize_ProcessedCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ProcessedCount",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "Initialize_RunId": ["Succeeded"]
        }
      },
      "Initialize_FailedRoutes": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FailedRoutes",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Initialize_ProcessedCount": ["Succeeded"]
        }
      },
      "Parse_Event_Data": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['contentData']",
          "schema": {
            "type": "object",
            "properties": {
              "eventType": { "type": "string" },
              "negotiatedRateIds": { 
                "type": "array",
                "items": { "type": "string" }
              },
              "timestamp": { "type": "string" },
              "correlationId": { "type": "string" }
            }
          }
        },
        "runAfter": {
          "Initialize_FailedRoutes": ["Succeeded"]
        }
      },
      "Get_Negotiated_Rates_From_API": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('SALESFORCE_API_ENDPOINT')}/api/Salesforce/getNegotiatedRates",
          "headers": {
            "Content-Type": "application/json",
            "X-Correlation-Id": "@{variables('RunId')}"
          },
          "body": {
            "ids": "@body('Parse_Event_Data')?['negotiatedRateIds']"
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 4,
            "interval": "PT10S",
            "minimumInterval": "PT5S",
            "maximumInterval": "PT1M"
          }
        },
        "runAfter": {
          "Parse_Event_Data": ["Succeeded"]
        },
        "limit": {
          "timeout": "PT2M"
        }
      },
      "Check_API_Response": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@outputs('Get_Negotiated_Rates_From_API')['statusCode']",
                200
              ]
            }
          ]
        },
        "actions": {
          "Transform_Rates_To_CSV": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('FUNCTION_ENDPOINT')}/TransformNegotiatedRates?code=@{appsetting('FUNCTION_KEY')}",
              "headers": {
                "Content-Type": "application/json",
                "X-Correlation-Id": "@{variables('RunId')}"
              },
              "body": {
                "extractRoute": "ALL",
                "priority": "ALL",
                "negotiatedRates": "@body('Get_Negotiated_Rates_From_API')"
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT5S",
                "minimumInterval": "PT5S",
                "maximumInterval": "PT30S"
              }
            },
            "runAfter": {},
            "limit": {
              "timeout": "PT2M"
            }
          },
          "Parse_Transform_Response": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Transform_Rates_To_CSV')",
              "schema": {
                "type": "object",
                "properties": {
                  "success": { "type": "boolean" },
                  "correlationId": { "type": "string" },
                  "totalRecords": { "type": "integer" },
                  "successCount": { "type": "integer" },
                  "failedCount": { "type": "integer" },
                  "routes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "routeName": { "type": "string" },
                        "routeCode": { "type": "string" },
                        "success": { "type": "boolean" },
                        "errorMessage": { "type": ["string", "null"] },
                        "recordCount": { "type": "integer" },
                        "fileName": { "type": "string" },
                        "csvContent": { "type": "string" }
                      }
                    }
                  },
                  "timestamp": { "type": "string" }
                }
              }
            },
            "runAfter": {
              "Transform_Rates_To_CSV": ["Succeeded"]
            }
          },
          "Process_Each_Route_In_Parallel": {
            "type": "Foreach",
            "foreach": "@body('Parse_Transform_Response')?['routes']",
            "actions": {
              "Check_Route_Success": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@items('Process_Each_Route_In_Parallel')?['success']",
                        true
                      ]
                    }
                  ]
                },
                "actions": {
                  "Determine_Container": {
                    "type": "Compose",
                    "inputs": "@if(equals(items('Process_Each_Route_In_Parallel')?['routeCode'], 'BENE'), 'salesforce-external', 'salesforce-internal')",
                    "runAfter": {}
                  },
                  "Determine_Path_Prefix": {
                    "type": "Compose",
                    "inputs": "@if(equals(items('Process_Each_Route_In_Parallel')?['routeCode'], 'BENE'), '', concat(items('Process_Each_Route_In_Parallel')?['routeCode'], '/'))",
                    "runAfter": {
                      "Determine_Container": ["Succeeded"]
                    }
                  },
                  "Upload_CSV_To_Blob": {
                    "type": "ServiceProvider",
                    "inputs": {
                      "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                      },
                      "parameters": {
                        "containerName": "@{outputs('Determine_Container')}",
                        "blobName": "@{outputs('Determine_Path_Prefix')}@{formatDateTime(utcNow(), 'yyyyMM')}/@{formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')}_@{items('Process_Each_Route_In_Parallel')?['fileName']}",
                        "content": "@items('Process_Each_Route_In_Parallel')?['csvContent']"
                      }
                    },
                    "runAfter": {
                      "Determine_Path_Prefix": ["Succeeded"]
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 3,
                      "interval": "PT5S",
                      "minimumInterval": "PT5S",
                      "maximumInterval": "PT30S"
                    }
                  },
                  "Increment_Processed_Count": {
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "ProcessedCount",
                      "value": "@items('Process_Each_Route_In_Parallel')?['recordCount']"
                    },
                    "runAfter": {
                      "Upload_CSV_To_Blob": ["Succeeded"]
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Append_Failed_Route": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "FailedRoutes",
                        "value": {
                          "routeCode": "@items('Process_Each_Route_In_Parallel')?['routeCode']",
                          "routeName": "@items('Process_Each_Route_In_Parallel')?['routeName']",
                          "errorMessage": "@items('Process_Each_Route_In_Parallel')?['errorMessage']",
                          "timestamp": "@utcNow()",
                          "runId": "@variables('RunId')"
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Parse_Transform_Response": ["Succeeded"]
            },
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 3
              }
            }
          },
          "Update_Salesforce_Status": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('SALESFORCE_API_ENDPOINT')}/api/Salesforce/updateExtractStatus",
              "headers": {
                "Content-Type": "application/json",
                "X-Correlation-Id": "@{variables('RunId')}"
              },
              "body": {
                "ids": "@body('Parse_Event_Data')?['negotiatedRateIds']",
                "status": "@if(equals(length(variables('FailedRoutes')), 0), 'Extracted', 'PartiallyExtracted')",
                "extractDate": "@utcNow()",
                "failedRoutes": "@variables('FailedRoutes')"
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT5S",
                "minimumInterval": "PT5S",
                "maximumInterval": "PT30S"
              }
            },
            "runAfter": {
              "Process_Each_Route_In_Parallel": ["Succeeded", "Failed"]
            }
          },
          "Log_Extract_Record": {
            "type": "ServiceProvider",
            "inputs": {
              "serviceProviderConfiguration": {
                "connectionName": "AzureTables",
                "operationId": "upsertEntity",
                "serviceProviderId": "/serviceProviders/AzureTables"
              },
              "parameters": {
                "tableName": "SalesforceExtracts",
                "entity": {
                  "PartitionKey": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                  "RowKey": "@{variables('RunId')}",
                  "EventType": "@{body('Parse_Event_Data')?['eventType']}",
                  "TotalRecords": "@{body('Parse_Transform_Response')?['totalRecords']}",
                  "ProcessedCount": "@{variables('ProcessedCount')}",
                  "FailedRoutesCount": "@{length(variables('FailedRoutes'))}",
                  "CorrelationId": "@{coalesce(body('Parse_Event_Data')?['correlationId'], variables('RunId'))}",
                  "CompletedAt": "@{utcNow()}"
                }
              }
            },
            "runAfter": {
              "Update_Salesforce_Status": ["Succeeded", "Failed"]
            },
            "trackedProperties": {
              "eventType": "WorkflowEnd",
              "runId": "@{variables('RunId')}",
              "processedCount": "@{variables('ProcessedCount')}",
              "failedRoutes": "@{length(variables('FailedRoutes'))}"
            }
          }
        },
        "else": {
          "actions": {
            "Log_API_Error": {
              "type": "ServiceProvider",
              "inputs": {
                "serviceProviderConfiguration": {
                  "connectionName": "AzureTables",
                  "operationId": "upsertEntity",
                  "serviceProviderId": "/serviceProviders/AzureTables"
                },
                "parameters": {
                  "tableName": "SalesforceExtracts",
                  "entity": {
                    "PartitionKey": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                    "RowKey": "@{variables('RunId')}",
                    "EventType": "ERROR",
                    "ErrorMessage": "API call failed with status @{outputs('Get_Negotiated_Rates_From_API')['statusCode']}",
                    "CorrelationId": "@{variables('RunId')}",
                    "CompletedAt": "@{utcNow()}"
                  }
                }
              },
              "runAfter": {}
            },
            "Terminate_On_API_Error": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "code": "APIError",
                  "message": "Salesforce API returned HTTP @{outputs('Get_Negotiated_Rates_From_API')['statusCode']}"
                }
              },
              "runAfter": {
                "Log_API_Error": ["Succeeded"]
              }
            }
          }
        },
        "runAfter": {
          "Get_Negotiated_Rates_From_API": ["Succeeded", "Failed"]
        }
      }
    },
    "parameters": {}
  },
  "kind": "Stateful"
}
